
//Navbar styining
    $navBar-color: #00435f;
    $hoverBlue: #b8d3df;
    $navbar-textColor: #ffffff;

//Body styling
    $background-color-overlay: 0.2; //Percenatge black overlay on bg-image
    $header-color: #ffffff;
    $header-border-color: #052a3a;
    $header-border-size: 2px;

//Card styling
    $cardTextColor: #000000;
    $card-location-text-color:  rgb(100, 100, 100);
    $card-location-icon-color: #00ff0d;
    $cardFontShadowSize: 1px;
    $description-border-color: rgb(196, 196, 196);
    $description-text-color: rgb(131, 131, 131);
    $card-link-learn-more-color: #00ff0d;
    $card-link-learn-more-hover-color: #00ad09;



nav{
    position: relative;
    z-index: 2;
    height: 5vh;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.65);
    padding: 18px 2%;
    justify-content: space-between;
    background-color: $navBar-color;
    color: $navbar-textColor;
    font-size: x-large;
    align-items: center;
}

.nav-bar-links-container{
    display: flex;
    padding-right: 100px;
    color: $navbar-textColor;
    font-size: xx-large;
    font-weight: bold;
    .nav-bar-links{
        text-decoration: none;
        color: $navbar-textColor;
        padding-left: 100px;
        &:hover{
            color: $hoverBlue;
        }
    }
}



.bg-image{
    background-image: url("../resources/background_image.jpg");
    background-size: cover;
    min-height: 95vh;
    position: relative;
    z-index: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-position: right;
}

.color-overlay{
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, $background-color-overlay);
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.header{
    font-size: xx-large;
    position: relative;
    z-index: 1;
    color: $header-color;
    padding: 15% 0% 0% 5%;
    h2{
        padding-top: 3%;
    }
}

.card-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 0px;
    padding-top: 0px;
    background-color: white;
    .card-header{
        padding-top: 2%;
        font-size: 2rem;
    }
}


.carusel-container{
    width: 90%;
    margin: 5rem 30px 0px 30px;
    padding: 4px 4px 8px 4px;

}

.carusel-item{
    //display: block;
    margin: 0px 0px 10px 0px;
    //max-width: 400px;
}


.studycard-container{
    display: flex;
    flex-direction: column;
    max-height: 280px;

    margin: 0% 1rem 0rem 5rem;
    padding: 1.5rem 1rem;
    border-radius: 12px;
    box-shadow: 4px 3px 6px 4px hsla(0, 0%, 0%, 0.12);

    .card-location{
        display: flex;
        align-items: center;
        margin-top: 1%;

        h1{
            display: flex;
            font-size: x-large;
            color: black
        }
        
        span{
            color: $card-location-icon-color;
            height: 30px;
            font-size: x-large;
            padding-left: 0px;
            // margin: 0px 2px 0px 0px;
        }

        .card-country{
            color: $card-location-text-color;
            margin-right: 10%;
            margin-left: 3%;
        }
    
        .card-city{
            color: $card-location-text-color;
        }
    }

    hr{
        height: 1px;
        background-color:$card-location-icon-color;
        border: none;
        margin-top: 1%;
    }

    h2{
        font-size: 12px;
        margin: 5% 0px 0px 2%;
    }

    .card-description-container{
        font-size: 14px;
        padding: 2%;
        margin-top: 4%;
        border: 1px solid $description-border-color;
        color: $description-text-color;
        text-align: justify
    }

    .links{
        display: flex;
        padding: 5% 0px 0px 80%;
        color: $card-link-learn-more-color;
        &:hover{
            color: $card-link-learn-more-hover-color;
            cursor: pointer;
        }
    }
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    // padding-left: 80%;
    padding-top: 5%;
    font-size: 50px;
    // &:hover{
    //     color: $hoverBlue;
    //     cursor: pointer;
    // }
    
}




