nav {
  position: relative;
  z-index: 2;
  height: 5vh;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.65);
  padding: 18px 2%;
  justify-content: space-between;
  background-color: #00435f;
  color: #ffffff;
  font-size: x-large;
  align-items: center;
}

.nav-bar-links-container {
  display: flex;
  padding-right: 100px;
  color: #ffffff;
  font-size: xx-large;
  font-weight: bold;
}
.nav-bar-links-container .nav-bar-links {
  text-decoration: none;
  color: #ffffff;
  padding-left: 100px;
}
.nav-bar-links-container .nav-bar-links:hover {
  color: #b8d3df;
}

.bg-image {
  background: linear-gradient(0deg, rgb(165, 161, 241) 0%, rgb(200, 200, 228) 35%, rgb(233, 251, 255) 100%);
  background-size: cover;
  min-height: 95vh;
  position: relative;
  z-index: 0;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-position: right;
}

.color-overlay {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.header {
  font-size: xx-large;
  position: relative;
  z-index: 1;
  color: #ffffff;
  padding: 15% 0% 0% 5%;
}
.header h2 {
  padding-top: 3%;
}

.card-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 0px;
  padding-top: 0px;
  background-color: white;
}
.card-page .card-header {
  padding-top: 2%;
  font-size: 2rem;
}

.carusel-container {
  width: 90%;
  margin: 5rem 30px 0px 30px;
  padding: 4px 4px 8px 4px;
}

.carusel-item {
  margin: 0px 0px 10px 0px;
}

.studycard-container {
  display: flex;
  flex-direction: column;
  max-height: 280px;
  margin: 0% 1rem 0rem 5rem;
  padding: 1.5rem 1rem;
  border-radius: 12px;
  box-shadow: 4px 3px 6px 4px hsla(0deg, 0%, 0%, 0.12);
}
.studycard-container .card-location {
  display: flex;
  align-items: center;
  margin-top: 1%;
}
.studycard-container .card-location h1 {
  display: flex;
  font-size: x-large;
  color: black;
}
.studycard-container .card-location span {
  color: #00ff0d;
  height: 30px;
  font-size: x-large;
  padding-left: 0px;
}
.studycard-container .card-location .card-country {
  color: rgb(100, 100, 100);
  margin-right: 10%;
  margin-left: 3%;
}
.studycard-container .card-location .card-city {
  color: rgb(100, 100, 100);
}
.studycard-container hr {
  height: 1px;
  background-color: #00ff0d;
  border: none;
  margin-top: 1%;
}
.studycard-container h2 {
  font-size: 12px;
  margin: 5% 0px 0px 2%;
}
.studycard-container .card-description-container {
  font-size: 14px;
  padding: 2%;
  margin-top: 4%;
  border: 1px solid rgb(196, 196, 196);
  color: rgb(131, 131, 131);
  text-align: justify;
}
.studycard-container .links {
  display: flex;
  padding: 5% 0px 0px 80%;
  color: #00ff0d;
}
.studycard-container .links:hover {
  color: #00ad09;
  cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  padding-top: 5%;
  font-size: 50px;
}/*# sourceMappingURL=homepage.css.map */