$navBarBlue: #57a8cc;
$hoverBlue: #b8d3df;
$textColor: #faebd7;
$cardTextColor: #000000;
$cardTextShadow: #ffffff;
$spaceBetweenLinks: 20px;
$cardFontShadowSize: 1px;
$blobColor: #dcf6ff;
$blobShadowColor: #caedfa;



.nav-bar-container{
    font-size: x-large;
    display: flex;
    padding: 18px 2% 18px 15px;
    justify-content: space-between;
    align-items: center;
    background-color: $navBarBlue;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    color: $textColor;
    font-weight: bolder;
    h1{
        &:hover{
            cursor: default;
        }
    }
}

.main-container{
    margin: 5% 2rem;    
}

.nav-bar-links{
    display: flex;
    h1 {
        margin: auto $spaceBetweenLinks;
        color: $textColor;
        &:hover{
            color: $hoverBlue;
            cursor: pointer;
        }
    }
}

.ldn-pg-intro{
    // margin-top: 2rem;
    font-size: x-large;
    text-align:justify;
    width: 40%;
}

.main-container{
    display: flex;
    align-items:top;
    // div{
    //     // margin: 10% 2rem;
    //     width: 40%;
    // }
}

.studycard-container{
    // max-width: 15rem;
    // min-width: 15rem;
    display: flex;
    flex-direction: column;
    max-height: 280px;
    background: linear-gradient(148deg, rgba(87,168,204,1) 0%, rgba(138,205,233,1) 66%, rgba(217,237,246,1) 100%);
    margin: 0% 1rem 0rem 5rem;
    padding: 1.5rem 1rem;
    border-radius: 0.8rem;
    box-shadow: 0 4px 8px 0 #00000066;
    text-shadow: $cardFontShadowSize $cardFontShadowSize $cardFontShadowSize $cardTextShadow;

    // &:hover{
    //     background: linear-gradient(148deg, rgb(62, 145, 180) 0%, rgb(111, 182, 212) 66%, rgb(179, 219, 238) 100%);
    //     cursor: pointer;
    // }

    h1{
        color: $cardTextColor;
    }
    h2{
        color: $cardTextColor;
        font-size: medium;
        font-weight:400;
        margin: 1rem 0 0 0;
    }
    h3{
        color: $cardTextColor;
        margin: 1rem 0 0 0
    }
    p{
        margin: 0.5rem 0 0 0;
        color: $cardTextColor;
    }
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    color: white;
    padding-left: 80%;
    padding-top: 5%;
    font-size: 50px;
    &:hover{
        color: $hoverBlue;
        cursor: pointer;
    }
    
}

.carusel-container{

    width: 60%;
    margin: 0px 30px 0px 20px;
    
    // margin: 0px 5rem 3rem 50px;
    // padding-bottom: 30px;
    // padding-right: 75px;
}

.carusel-item{
    //display: block;
    margin: 0px 0px 10px 0px;
    //max-width: 400px;
    min-width:350px;
}

.footer{
    font-size: x-small;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5%;
    left: 0; 
    right: 0; 

}

.blob-down{
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: 60%;
    width: 100%;
    background: $blobColor;
    margin: 0;
    padding: 0;
    border-top-left-radius: 12rem 6rem;
    border-top-right-radius: 90rem 16rem;
    box-shadow: 6rem 0rem 6rem 0rem $blobShadowColor;
}



